/*  Переменные */
:root {
  /* Цвета */
  --accent-color: #2196f3;
  --bg-color: #ffffff;
  --title-color: #212121;
  --secondary-text-color: #757575;
  --secondary-white-color: #ffffff;
  --margin-right-bottom:30px;

  /* Шрифты */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --bg-color-hero-footer: #2f303a;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--title-color);
  
}

/* Сброс стилей */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

ul, ol{
  margin: 0;
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
}

/* СПРЯТАННЫЕ ЗАГОЛОВКИ */

.visually-hidden { 
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}



/* КОМПОНЕНТЫ*/

.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}

.btn {
  cursor: pointer;
  min-width: 200px;
 
 display: block; 
 margin: 0 auto;
 text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--accent-color);
  color: var(--secondary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.footer {
  background-color: var(--bg-color-hero-footer);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/*  Contact-info */
.contact-info__icon{

  fill:  #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /// social links */
.thumb-list__icon{
  fill: #AFB1B8;
}

.navigation__link--current::after{
  content:'';
  display: block;
  min-width: 48px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom:-32px;
}
.navigation__link-portfolio::after{
  width: 76px;
}
/*  Модалка  */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms ease-in;
}
/* //// */



/* ШАПКА */

.header{
  border-bottom: 1px solid #ECECEC;
}

.header__container{
  display: flex;
  align-items: center;
  
}

.nav{
  display: flex;
  text-align: center;
}


/* /////////////  ЛОГОТИП///////////// */
.logo{
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}


.logo--color {
  color: #000000;
}


/* /// */


/* Меню */
.navigation.list{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation__item{
  position: relative;
}



.navigation__item:not(:last-child){
  margin-right: 50px;
}


.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.list.navigation__link.navigation__link--current {
  color: var(--accent-color);
}



/* Контакты */


  
  /* .link.menu.current.pseudo::after{
    content:'';
    display: block;
    width: 78px;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom:-32px;
  
  }
   */
 
/* ///// */





/* ////// КОНТАКТЫ  */

.contact-info{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-info__contact-info__item{
  margin-right: 50px;
}



.contact-info__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;


  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info__link:hover,
.contact-info__link:focus {
  color: var(--accent-color);

}


/*  */


/* Ховер иконки имейла и телефона */

.contact-info__link:hover .contact-info__icon{
  fill:var(--accent-color);

}

.contact-info__icon:hover{
  fill:var(--accent-color);

}

/* ///////////Навигационное меню  КОНЕЦ */




/* ГЕРОЙ */
.main{

  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../img/bg-optimized.jpg);
  background-color: var(--bg-color-hero-footer);
  
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}


.main__title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px ;
}

.main__container{
  padding: 200px 15px ;
 
}



/* КНОПКА - ЗАКАЗАТЬ УСЛУГУ */

.main__btn{
  padding: 10px 32px;

}



/* ОСОБЕННОСТИ*/

.features{
  display: flex;
  padding-top: 94px;
}



.features__item{
  flex-basis: calc(100% / 4);
}

.features__item:not(:last-child){
margin-right: 30px;
}

.thumb{
  margin-bottom: 30px;
  background-color:#F5F4FA;
  border-radius:4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 25px 100px;
}


.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/*  СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ */

.content-pos{
  padding-top: 94px;
  padding-bottom: 94px;
}

.content__title{
  margin-bottom: 50px;
  text-align: center;
  }


.section{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--margin-right-bottom));
    margin-top: calc(-1*var(--margin-right-bottom));
  }
  
.section__item{
    margin-left: var(--margin-right-bottom);
    margin-top: var(--margin-right-bottom);
    flex-basis: calc(100% / 3 - var(--margin-right-bottom));
  }




  .thumb-pic{
    position: relative;
  }
  
  
.thumb-wrap__title{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.section__thumb-wrap-pos{
  position: absolute;
  bottom:0;
  left:0;
}

.thumb-wrap{
  
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  min-width: 370px;
  padding-bottom: 27px;
}



/* НАША КОМАНДА  */


.team-galerry{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

 .description{
  display: flex;
  flex-wrap: wrap;
}

 .description__item{
  background-color:var(--secondary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.description__item:not(:last-child){
  margin-right: 30px;
}

.description-thumb{
  padding-top: var(--margin-right-bottom);
  padding-bottom: var(--margin-right-bottom); 
  text-align: center;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}



.description-thumb__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  
}
.description-thumb__description-thumb__text{
  margin-bottom: 16px;
}

.description-title{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}


/* ///////////Соцеальные сети */
.thumb-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumb-social__link{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  width: 44px;
  height: 44px;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .thumb-list__icon.instagram{
  fill: #AFB1B8;
 } */

 .thumb-list__icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }



/* ////// Ховер соц сетей */

 .thumb-social__link:hover,
 .thumb-social__link:focus{
  background-color:var(--accent-color);
  
}




.thumb-social__link:hover .thumb-list__icon,
.thumb-social__link:focus .thumb-list__icon{
  fill:#FFFFFF;
 
}




/* ///////////// */

/* <!-- ///////// Постоянные клиенты --> */
.clients{
  padding: 94px 94px;
  background-color: #fff;
}

.clients-title{
font-family: var(--main-font);
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
margin: 0auto;
margin-bottom: 50px;
}

.clients-list{
  display: flex;
  align-items: center;

}

.clients-list__item:not(:last-child){
  margin-right: 30px;
}


.clients-list__link{
display: flex;
justify-content: center;
align-items: center;
}




.clients-list__link{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color:#AFB1B8;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ////// ХОВЕР  */

.clients-list__link:hover,
.clients-list__link:focus{
  color:var(--accent-color);
  border-color: var(--accent-color);

 
}


.clients-list__icon{
  fill:currentColor;
 
}


/* ////////// */

/* ФУТЕР//////////*/

.footer{
  padding-top: 64px;
  padding-bottom: 55px;
  
}
.footer__container{
  display: flex;
  align-items: center;
}


.wrap-address{
  margin-right: 70px;
}
.logo--color-white {
  color: var(--secondary-white-color);
}

.footer-join--action{
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
display: inline-block;
}

/* //////СОЦ СЕТИ  */
.footer-social-list{
  display: flex;
  
}

.footer-social-list__item:not(:last-child){
  margin-right: 10px;
}

.footer-social-list__icon{
  fill:var(--secondary-white-color);
}

.footer-social-list__link{
  display: flex;
  align-items: center;
  justify-content: center;
 
  border-radius:50%;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list__link:hover,
.footer-social-list__link:focus{
  background-color: var(--accent-color);
}

/* //////// ФОРМА ФУТЕРА */
/* ////// */
.address{
  margin-top: 20px;
}

.address__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  margin-bottom: 9px;
  
}


.adress__link{
  display: block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
 

.form-wrap{
  display: block;
  margin-left: 93px;
}

.form-wrap--action{
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-white-color);

}

.form{
  display: flex;
  align-items: center;
}


.form__input{
  display: block;
  color:white;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.form__input::placeholder{
  color: rgba(255, 255, 255, 0.6);
}

.form__btn{
  padding: 10px 28px 10px 29px;
  display: flex;
  align-items: center;

}

.form__icon{
 margin-left: 10px;
  fill: var(--secondary-white-color);
}







 /* ////////////////// */









/* ПОРТФОЛИО */
/* /////////// МЕНЮ*/
.menu-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.list.filters{
display: flex;
justify-content: center;
margin-bottom: 50px;

}

.list-filters-item:not(:last-child){
  margin-right: 8px;
}



/* ///////////КАТЕГОРИИ  */
.menu-section .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  min-width: 73px;
  padding: 6px 22px;

  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
             background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
             box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-section .btn:hover,
.menu-section .btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
  
}




/*  Портфолио сетка */


.overlay{
  position: relative;
  overflow: hidden;
}

.title-hover-overlay{
  position: absolute;
  top: 0;
  left: 0;

  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color:white;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);


  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-link.link:hover .title-hover-overlay,
.portfolio-link.link:focus .title-hover-overlay{
  transform: translateY(0%);
  
}




/* ////// */


.portfolio{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.list-portfolio-item{
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio>li:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}


.list-portfolio-card{
background: #FFFFFF;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
padding: 20px 24px;
}


.portfolio .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio .portfolio-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/* /////// МОДАЛКА */



.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding:40px;
 

  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;


  transition: transform 250m ease-in-out;
}

.modal.is-hidden{
  transform:translate(-50%, -50%) scale(0);
 
} 

 .backdrop.is-hidden{
  opacity:0;
  pointer-events: none;
  visibility: hidden;
}




.modal__btn-close{

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  cursor:pointer;
  border-radius:50%;
  background:transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  
}

.modal__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close{
  color:var(--accent-color);
  
}

.modal__icon-close{
  fill:currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* //////// Форма Модалки */

.modal__title{
  display: block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 11px;
}


.form-modal{

    display: flex;
    flex-direction: column;
  }
    





.form-modal__label{
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color:var(--secondary-text-color);
  
}

.form-modal__label:not(:first-child){
  margin-top: 10px;
}

.form-modal__comment{
  resize:none;
  padding: 12px 16px;
  display: block;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__comment::placeholder{
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment:focus{
  outline:none;
  border-color:var(--accent-color);
}


/*  MODAL ICONS */

.icon-form-wrapper{
  position: relative;
  
  
}

.icon-form-wrapper__input{
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form-wrapper__icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  
  fill:currentColor;
  cursor: pointer;
}

.icon-form-wrapper__input:focus + .icon-form{
 
  fill:var(--accent-color);
}


.icon-form-wrapper__input:focus{
  
  border-color: var(--accent-color);

}



/* // */
.confirm-wrapper{
  margin-bottom: 30px;
}

.confirm-wrapper__label::before{
  content:'';
  display: inline-block;
  width: 16px;
  height: 15px;
  border:1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.confirm-wrapper__label{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.confirm-wrapper__label a{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color:var(--accent-color);
}

.confirm-wrapper__input:checked + .confirm-wrapper__label::before{
background-color: var(--accent-color); 
border:none;
background-image: url(../img/vector.svg);
background-position:center;
background-repeat: no-repeat;

}

.confirm-wrapper__input :focus + .confirm-wrapper__label::before{
  border:1px solid var(--accent-color);
}




/* //////// */

.confirm-wrapper__btn{
 
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
}

.confirm-wrapper__btn:hover,
.confirm-wrapper__btn:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
}




