.features{
  display: flex;
  padding-top: 94px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
  
}



.features__item{
  flex-basis: calc(100% / 4);

  &:not(:last-child){
    margin-right: 30px;
    }
}



.thumb{
  margin-bottom: 30px;
  background-color:#F5F4FA;
  border-radius:4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 25px 100px;
}



